*.py[cod]
__pycache__

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml
htmlcov

# Translations
*.mo

# Complexity
output/*.html
output/*/index.html

# Sphinx
docs/_build

# node
node_modules
package.json
package-lock.json

# Virtualenv
venv*

# Editor
.idea

# Docker
web.env

# Static
tests/static/*
tests/media/*
!tests/static/.gitkeep
!tests/media/.gitkeep
