include README.md LICENSE requirements/install.txt requirements/tests.txt
include wagtailgeowidget/static/wagtailgeowidget/css/geo-field.css
include wagtailgeowidget/static/wagtailgeowidget/js/geo-field.js
